
// Transparency
$transparent: transparent;
$transparent-b-1: rgba(0, 0, 0, .03);
$transparent-b-2: rgba(0, 0, 0, .05);
$transparent-b-1: rgba(0, 0, 0, .03);
$transparent-b-3: rgba(0, 0, 0, .08);
$transparent-b-4: rgba(0, 0, 0, .1);
$transparent-b-9: rgba(0, 0, 0, .15);
$transparent-b-5: rgba(0, 0, 0, .3);
$transparent-b-6: rgba(0, 0, 0, .5);
$transparent-b-7: rgba(0, 0, 0, .8);
$transparent-b-8: rgba(0, 0, 0, .9);
$transparent-w-1: rgba(255, 255, 255, .03);
$transparent-w-2: rgba(255, 255, 255, .05);
$transparent-w-3: rgba(255, 255, 255, .08);
$transparent-w-4: rgba(255, 255, 255, .2);
$transparent-w-5: rgba(255, 255, 255, .3);
$transparent-w-6: rgba(255, 255, 255, .5);
$transparent-w-7: rgba(255, 255, 255, .8);
